.bundle/
.yardoc/
/.yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.rubocop_cache/

# Ruby
*.gem
*.rbc
*.bundle
*.so
*.o
*.a
*.log

# Bundler
/vendor/bundle

# Editors/OS
.DS_Store
.idea/
.vscode/
